@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 1.1 Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900i|Roboto:100,300,400,700');


// 2. Set your own initial variables
// Update the colors
$pink: #FF00FF;
$yellow: #FFFF00;
$blue: #00FFFF;
$black: #000000;
$grey: #1D1D1B;


// Update the sans-serif font family
$family-sans-serif: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-primary: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-serif: "Playfair Display", "serif";
$body-line-height: 28px;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $red;
$panel-block-hover-background-color: $blue;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";


// 5. Set custom css

// header
.title.is-2 {
  padding-top: 3rem;
  padding-right: 2rem;
  padding-bottom: 0rem;
  padding-left: 2rem;
  font-family: "Playfair Display", "serif";
  font-size: 3rem;
  font-weight: 300;
}

.title span {
    font-weight: 900;
    font-style: italic;
    background: url(img/golf.png) bottom repeat-x;
}

.subtitle.is-4 {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

// pink underline

.curly {
  // Use the default underline for browsers that
  // don’t support @supports (<= IE11)
  text-decoration: underline;
  color: $pink;
  // Use the filter in browsers that support @supports, but aren’t Safari
  @supports not (-webkit-text-decoration-skip: objects) {
    filter: url('#svg-underline');
    text-decoration: none;
  }

  // And then disable the filter in Edge and
  // use the default underline instead
  @supports (-ms-ime-align: auto) {
    color: red;
    filter: none;
    text-decoration: underline;
  }
}

// Remove the SVG from the UI, but keep it the layout.
// This makes sure Firefox can reference the SVG filter.

.visuallyHidden {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  width: 1px;
}



// inhoudsopgave
ol.menu-list {
    color: $pink;
    content: counter(li, decimal-leading-zero);
}

// hoofdstuk titels
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-family: $family-primary;
    color: $black;
}

.content h2,
.content h2:not(:first-child),
content h2:not(:first-child) {
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 4.9rem;
    margin-top: 1.1428em;
    text-align: center;
}

span.hfdnr {
    color: $pink;
}

.content h3 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 3.16rem;
}

// Kantlijn notities
.notitie {
    font-family: $family-serif;
    font-size: 1.25rem;
    line-height: 2rem;
    color: $grey;
}

// divider
hr {
    background: url(golf.png) no-repeat top center;
    background-size: contain;
    display: block;
    height: 18px;
    border: 0;
    position: relative;
}

hr:before,
hr:after {
    content: '';
    display: block;
    position: absolute;
    background: $grey;
    height: 2px;
    top: 8px;
}
hr:before {
    left: 0;
    right: 50%;
    margin-right: 10px;
}
hr:after {
    right: 0;
    left: 50%;
    margin-left: 10px;
}

// code
code {
    color: $pink!important;
}

//tldr
div.tldr {
    border: 1px solid black;
    padding: 20px 10px;
    margin: 15px;
}


// footer
footer a {
    color: $black;
    font-decoration: underline;
}

