@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 1.1 Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900i|Roboto:100,300,400,700');


// 2. Set your own initial variables
// Update the colors
$pink: #FF00FF;
$yellow: #FFFF00;
$blue: #00FFFF;
$black: #000000;
$grey: #1D1D1B;
$notblack: #4A4A4A;

// Update the sans-serif font family
$family-sans-serif: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-primary: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-serif: "Playfair Display", "serif";
$body-line-height: 28px;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $red;
$panel-block-hover-background-color: $blue;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";


// 5. Set custom css

// header
.title {
    color: $black;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.125;
    font-family: 'Playfair Display', serif;
}

.titletablet{
    padding: 4rem 0 2rem 0;
}

.titledesktop {
    padding: 54px 0;
}
.ongeveer {
    font-weight: 900;
    font-style: italic;
    display: inline;
    text-shadow: -2.5px 0 white, 0 2.5px white, 2.5px 0 white, 0 -2.5px white;
}

// alternatieve header voor desktop+
.headerimg {
        background-image: url(header.svg);
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 60%;
        background-size: 70%;
        padding: 54px 0px;
    }

.titleshadow {
        text-shadow: -2.5px 0 white, 0 2.5px white, 2.5px 0 white, 0 -2.5px white;
}
// terug + curly
.terug,
.terug a {
    color: $notblack;
    display: block;
    align-self: right;
}

.curly {
    border-bottom-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'  viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff00ff' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 1.177em;
    background-size: auto 5px;
    background-repeat:repeat-x;
    padding-bottom: 3px;
    text-decoration: none;
}

.subtitle {
    font-weight: 300!important;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

// inhoudsopgave
.content ol:not([type]) {
    list-style-type: none!important;
}

.content ol {
    list-style-type: none;
    color: #ff00ff;
    list-style-position: outside;
    margin-top: 1em;
    margin-left: 2em;
}

.content ol > li {
    counter-increment: customlistcounter;
    margin: 20px 0px;
}

.content ol > li:before {
    content: "0"counter(customlistcounter)"";
    text-align: left;
    margin: 4px 4px;
}

.menu-list a {
    border-radius: 2px;
    color: #4a4a4a;
    padding: 0.5em 0.75em;
    margin: 10px 10px 10px 0px;
    display: inline;
}

// hoofdstuk titels
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-family: $family-primary;
    color: $notblack;
}

.content h2,
.content h2:not(:first-child),
content h2:not(:first-child) {
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 4.9rem;
    margin-top: 1.1428em;
    text-align: center;
    display: block;
}

span.hfdnr {
    color: $pink;
}

.content h3 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: f3.16rem;
}

// Kantlijn notities
.notitie {
    font-family: $family-serif;
    font-size: 1.25rem;
    line-height: 2rem;
    color: $grey;
}

// divider
hr {
    background: url('is.svg') no-repeat center 1px;
    background-size: 1.4rem;
    display: block;
    height: 40px;
    border: 0;
    position: relative;
    margin: 3rem 0;
}

hr:before,
hr:after {
    content: '';
    display: block;
    position: absolute;
    background: lightgrey!important;
    height: 2px;
    top: 8px;
}
hr:before {
    left: 0;
    right: 50%;
    margin-right: 20px;
}
hr:after {
    right: 0;
    left: 50%;
    margin-left: 20px;
}

// box
.box {
    background-color: $white;
    border-radius: 0px;
    border: 1px $notblack solid;
    box-shadow: -3px 3px $notblack, -2px 2px $notblack, -1px 1px $notblack;
    color: $notblack;
    display: block;
    padding: 1.25rem;
}

// afbeeldingen: kader weg geen marge
.content figure .img,
.content figure {
    margin: 0em!important;
}

// maak tabel responsive
.table__wrapper {
  overflow-x: auto;
  width: 100%;
}

// mark
mark {
    padding: 2px;
}

mark .yellow {
    background-color: #ffff00;
}

mark .blue {
    background-color: #00ffff;
}

//tldr
span.tldr {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-style: italic;
    font-size: 1.8rem;
    float: right;
    display: inline;
    color: #ff00ff;
    margin-top: -7px;
}

// footer
footer {
    padding: 10rem 1.5rem 1.5rem;
}

footer a {
    color: #4a4a4a;
    text-decoration: underline;
}

